<%= form_with(model: found_item, local: true) do |form| %>
  <% if found_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(found_item.errors.count, "error") %> prohibited this found_item from being saved:</h2>

      <ul>
      <% found_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :found_item_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :found_item_description, cols: 30, rows: 15 %>
  </div>

  <% if Rails.application.assets.resolve(@found_item.pic_url).present? %>
      <%= image_tag @found_item.pic_url %>
  <% end %>

  <div class="field">
    <%= form.label :pic_url %>
    <%= form.text_field :pic_url, id: :found_item_pic_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
