<p id="notice"><%= notice %></p>

<h1>Found Items</h1>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @found_items.each do |found_item| %>
      <tr>
        <% if Rails.application.assets.resolve(found_item.pic_url).present? %>
          <td><%= image_tag found_item.pic_url %></td>
        <% else %>
          <td><%= found_item.pic_url %></td>
        <% end %>
        <td><%= found_item.name %></td>
        <td><%= found_item.description %></td>
        <td><%= link_to 'Show', found_item %></td>
        <td><%= link_to 'Edit', edit_found_item_path(found_item) %></td>
        <td><%= link_to 'Destroy', found_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Found Item', new_found_item_path %>
